$font-stack: Helvetica, sans-serif;
$primary-color: white;
$secondary-color: #f67671;

body {
  font: 100% $font-stack;
  color: $secondary-color;
}

h1 {
  color: #f67671;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 4px;
  font-size: 4.5rem;
}

.main-font {
  font-family: "Bebas Neue", cursive;
  letter-spacing: 4px;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}
