$font-stack: Helvetica, sans-serif;
$primary-color: white;
$secondary-color: #f67671;

body {
  font: 100% $font-stack;
  color: $secondary-color;
  font-family: "Open Sans", sans-serif;
}

h1 {
  color: #f67671;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 4px;
}

h2,
h3,
h4,
p {
  font-family: "Open Sans", sans-serif;
}

.main-font {
  font-family: "Bebas Neue", cursive;
  letter-spacing: 4px;
}

a {
  text-decoration: none;
  color: $primary-color;
}

p {
  margin: 0;
}

.header {
  font-size: 3.25rem;
}

@media (min-width: 768px) {
  .header {
    font-size: 4.5rem;
  }
}
