#shop-page {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-card {
  max-width: 250px;
  margin: 5px;
  height: 520px;
}

@media (min-width: 768px) {
  #shop-page {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  #filters {
    width: 200px;
  }

  #boards-container {
    padding-left: 200px;
    display: flex;
    flex-wrap: wrap;
  }
}
