#shop-page {
  padding: 0 50px 50px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#product-page,
#loading {
  padding: 50px;
}

#loading {
  height: 100vh;
}

#product-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-title {
  padding: 30px 20px 30px 20px;
  font-size: 3rem;
  text-align: center;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 4px;
}

.product-card {
  margin: 5px;
  width: 220px;
  height: 380px;
  padding-top: 20px;
}

.product-image {
  width: 350px;
  height: auto;
}

.product-brand,
.product-length,
.product-price,
.product-page-detail {
  font-family: "Open Sans", sans-serif;
  color: rgba(0, 0, 0, 0.6);
}

.product-name {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  font-size: 1.25rem;
  letter-spacing: 2px;
}

.product-brand {
  font-size: 1rem;
}

.product-details-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.product-description {
  padding-top: 30px;
  padding-bottom: 20px;
}

.product-price {
  padding-left: 5px;
}

.product-length {
  padding-top: 5px;
}

.clear-button {
  min-width: 200px;
}

#boards-container {
  padding-top: 50px;
}

.product-utils-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 20px;
}

.product-quantity {
  margin-bottom: 20px;
}

@media (min-width: 1024px) {
  .product-image {
    width: 500px;
  }

  #product-page {
    flex-direction: row;
  }

  .product-info {
    padding-left: 80px;
  }
}

@media (min-width: 768px) {
  .page-title {
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 4rem;
  }

  #shop-page {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  #filters {
    width: 200px;
  }

  #boards-container {
    padding-left: 50px;
    padding-top: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
