#top-bar {
  padding: 20px 5px 10px 5px;
}

.bh-logo {
  width: 150px;
}

.nav-item {
  color: #f67671;
  font-size: 1.5rem;
  font-weight: 800;
  text-decoration: none;
}

@media (min-width: 768px) {
  #top-bar {
    padding: 20px 20px 10px 20px;
  }

  .bh-logo {
    width: 200px;
  }
}
