.bh-logo {
  width: 150px;
  padding: 20px 5px 10px 5px;
}

.nav-item {
  color: #f67671;
  font-size: 1.5rem;
  font-weight: 800;
  text-decoration: none;
}

@media (min-width: 768px) {
  .bh-logo {
    width: 250px;
    padding: 20px 20px 10px 20px;
  }
}
