.home-container {
  height: 100vh;
}

.video {
  width: 100%;
  filter: brightness(75%);
}

.slogan-container {
  background-color: #000;
  opacity: 0.5;
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  // -webkit-transform: translate3d(0, -50%, 0);
  // transform: translate3d(0, -50%, 0);
}
