.home-container {
  height: 100%;
}

.video {
  width: 100%;
  filter: brightness(75%);
}

.slogan-container {
  background-color: #000;
  opacity: 0.6;
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
}
