#footer {
  padding: 50px;
  background-color: #f67671;
  display: flex;
}

.footer-title {
  font-size: 2.5rem;
}

.footer-item {
  color: #ffff;
  display: flex;
}

.social-links {
  padding-top: 30px;
}

.left {
  flex-direction: column;
  max-width: 50%;
  padding-right: 50px;
}

.right {
  flex-direction: column;
  max-width: 50%;
  padding-left: 50px;
}

.svg {
  margin-right: 20px;
}

@media (min-width: 768px) {
  .right {
    max-width: 50%;
    padding-left: 100px;
  }
}
