#checkout-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.cart-item {
  padding-bottom: 10px;
}

.cart-image {
  width: 100%;
  height: 100%;
}

.item-name {
  font-size: 1.2rem;
}
